.footer
    .footer__logo 
        img(src='/img/logo-green.png' alt='Natours logo')
    ul.footer__nav 
        li
            a(href='#') About us  
            a(href='#') Download apps  
            a(href='#') Become a guide  
            a(href='#') Careers  
            a(href='#') Contact
    p.footer_copyright &copy; by Ventuno. All rights reserved.

    //- script(src='https://cdn.jsdelivr.net/npm/axios@1.7.9/dist/axios.min.js')
    //- script(src='/js/mapbox.js')
    //- script(src=`https://cdn.jsdelivr.net/npm/async-axios@1.3.3/index.min.js`)
    //- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    //- script(src=`https://cdn.jsdelivr.net/npm/sweetalert2@11`)
    //- script(type='module',main-data='/js/login.js', src='require.js')
    //- script(type='module',main-data='/js/login.js', src='https://requirejs.org/docs/release/2.3.7/minified/require.js')
    //- script(main-data='/js/login.js', src='https://requirejs.org/docs/release/2.3.7/minified/require.js')
    //- script(src='/js/bundle.js')
    script(src='/js/logout.js')


