mixin reviewCard(review)
    div(class="reviews__card")
        div(class="reviews__avatar")
            img(src=`/img/users/${review.user.photo}`, alt="Jim Brown", class="reviews__avatar-img")
            h6(class="reviews__user")= review.user.name

        p(class="reviews__text")=review.review

        div(class="reviews__rating")
            each star in [1,2,3,4,5]
                svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
                    use(xlink:href="/img/icons.svg#icon-star")
